/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 2px;
    margin: 0;
}

.header .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

.header .search-box button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Main search in the centre */
.main-content .centre-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-content .centre-search input[type="text"] {
    padding: 8px;
    border-radius: 50px;
    outline-style: hidden;
    border-style: groove;
    border-width: thin;
    outline-width: thick;
    font-size: 16px;
    margin-right: 10px;
}

.main-content .centre-search button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.main-content h1 {
    font-size: 48px;
    margin-bottom: 30px;
}