* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

.logincontainer {
    overflow: hidden;
    width: 100%;
    height: 92vh; /* As the navbar is 8vh */
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("images/fernsNew.png");
    background-position: center;
    background-size: cover;
}

.loginform {
    margin: auto;
}

.forgot-password {
    margin-top: 2.5rem;
    color: #0074cc;
    text-align: center;
    font-size: 18px;
}

.modal-footer p {
    font-size: 18px;
    text-align: center;
}

/* Sign Up */
.student-teacher-button {
    padding-top: 2rem;
    margin-left: 5%;
    width: 90%;
}

.button-student-teacher {
    height: 4rem;
    font-size: 20px;
    width: 50%;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.button-student-teacher:active, .button-student-teacher:focus, .button-student-teacher:hover {
    outline:none !important;
}

.active {
    box-shadow: 0 0 0 0.1rem currentColor;
}

.field-incomplete { /* Used for error message on incomplete fields */
    height: 1.5rem;
    direction: rtl;
    margin-right: 5%;
    color: red;
}

#form-signup-submit { /* Used for submit button on sign up */
    padding-top: 1.5rem;
    margin-left: 5%;
    color: white;
}

#form-forgotpassword-submit { /* Used for submit button on sign up */
    padding-top: 1.5rem;
    margin-left: 5%;
    color: white;
}
/* Forgot Password */



/* Login */

.hidden {
  display: none !important;
}

.incorrect {
    height: 2rem;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

.successful {
    color: limegreen !important;
}

.form-login-email {
    padding-top: 0;
}

.form-login-password {
    padding-top: 0;
}

#login-password-incomplete {
    height: 1.5rem;
}

.form-login-submit {
    padding-top: 1.5rem;
    margin-left: 5%;
    color: white;
}

.form-submit {
    font-size: 2vh;
    width: 95%;
    height: 4vh;
    background: rgba(66, 134, 245, 1.0);
    border-width: thin;
    border-color: rgba(66, 134, 245, 0.5);
}


.form-label {
    font-size: 20px;
    margin-left: 5%;
}

.form-element { /* Modify the form elements used for login/sign up/forgot password*/
    background: #E5E5E5;
    box-shadow: none;
    outline: none;
    width: 90%;
    height: 4vh;
    font-size: 18px;
    margin-left: 5%;
    border-radius: 4px;
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.form-element:focus-visible {
    outline: none;
    box-shadow: 0 0 0.25rem currentColor;
}

.search-bar {
    margin-top: 5%;
    width: 80%;
    border: thin solid black;
    background: rgba(255, 255, 255, 1.0);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}

.search-bar input {
    background: transparent;
    border: none;
    flex: 1;
    outline: none;
    padding: 24px 20px;
    font-size: 24px;
}

.search-bar button {
    border: none;
    background: none;
    filter: grayscale(1) invert(1);
}

::placeholder {
    color: #454545;
}

.categories {

}

.categories h1 {
    text-align: center;
}

.categories main {
    margin-left: 5%;
    margin-right: 5%;
}

.categories #categorylist {
    width: 15vw;
}

.categories td { /* Need to work on this */
    font-size: 2rem;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.container {
    width: 100%;
    padding: 5%;
    background: white center;
    background-size: cover;
    height: 92vh;
    /*background-color: rgba(52, 73, 94, 1.0);*/
    /*color: rgba(236, 240, 241, 1.0);*/
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.homecontainer {
    overflow: hidden;
    width: 100%;
    height: 92vh; /* As the navbar is 8vh */
    padding-top: 5%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("images/fernsNew.png");
    background-position: center;
    background-size: cover;
}

.homecontainer::after {
    content: "";
    clear: both;
    display: table;
}

.main-content img {
    object-position: bottom;
    object-fit: cover;
}

.title img {
    width: 40%;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

h3, h4 {
    text-align: center;
    margin: 2rem 0 0.5rem 0;
}

/* Header */
.header {
    background-color: rgba(51, 51, 51, 1.0);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 2px;
    margin: 0;
}

.header .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

.header .search-box button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

nav {
    background-color: rgba(51, 51, 51, 1.0); /* grey */
    text-align: center;
    height: 8vh;
    /*color: rgba(52, 152, 219, 1.0);!*light blue*!*/
    /*font-size: 1.5rem;*/
    font-size: 3vh;
    padding: 0 2rem 0.7rem;
    color: rgba(255, 255, 255, 1.0); /*white*/
    font-weight: bold;
}

.navbar-brand {
    display: inline;
    float: left;
}

.navbar-links {
    display: inline;
    float: right;
}

nav a {
    color: white;
    /*margin:0 0.5rem;*/
    padding: 0 0.5rem;
    /*font-size: 1.5rem;*/
    font-size: 2.5vh;
    /*border: 1px solid rgba(52, 152, 219, 1.0);*/
    /*border-radius:0.5rem;*/
}

nav a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
}

.navbar-links a, a:visited {
    /*color: rgba(255, 255, 255, 1.0);*/
    /*color:hotpink;*/
    text-decoration: none;
    color: inherit;
}

/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.modal-content {
    overflow: hidden;
    margin-top: 9.5vh;
}

.modal-header {
    height: 8vh;
}

.modal-title {
    font-size: 4vh;
    font-weight: bold;
}

#login-show-password {
  vertical-align: middle;
  position: relative;
  bottom: 0.4rem;
}

.show-password {
    font-size: 15px; /* Make this based on rem */
    margin-left: 5%;
}

#loginModal .modal-body {
    height: 38vh;
}

#forgotPasswordModal .modal-body {
    height: 67vh;
}

#signUpModal .modal-body {
    height: 73vh;
}

.modal-footer {
    height: 6vh;
}

@media only screen and (max-width: 400px) {
    .search-bar input {
        padding: 24px 0;
    }
}

@media only screen and (max-width: 450px) {
    nav {
        font-size: 2.5vh;
    }
    nav a {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 500px) {
    .search-bar {
        width: 100vw;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .homecontainer {
        width: 100%;
    }
}