{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | admin
{% endblock %}

{% block container %}
    admin
{% endblock %}

{% block header %}
    Admin
{% endblock %}

{% block main %}
<h3>Add a word</h3>
<form class="admin-form add-word" id="add-word-form" method="post" action="/addword">
    <label for="english-word" class="form-label">English Word</label>
    <input type="text" name="english-word" id="english-word" class="form-element"/>
    <div class="field-incomplete" id="english-word-incomplete"></div>
    <label for="maori-word" class="form-label">Māori Word</label>
    <input type="text" name="maori-word" id="maori-word" class="form-element"/>
    <div class="field-incomplete" id="maori-word-incomplete"></div>
    <label for="word-definition" class="form-label">Definition</label>
    <textarea type="text" name="word-definition" id="word-definition" class="form-element"></textarea>
    <div class="field-incomplete" id="word-definition-incomplete"></div>
    <label for="word-select-category" class="form-label">Category</label><br>
    <select name="word-select-category" id="word-select-category" class="admin-dropdown">
        {% for i in range(category_ids|length) %}
            <option value="{{ category_ids[i] }}">{{ category_names[i] }}</option>
        {% endfor %}
    </select>
    <div class="field-incomplete"></div>
    <label for="level-select-category" class="form-label">Level</label><br>
    <select name="level-select-category" id="level-select-category" class="admin-dropdown">
        {% for level in levels %}
            <option value="{{ level }}">{{ level }}</option>
        {% endfor %}
    </select>
    <div class="field-incomplete"></div>
    <label for="image-upload" class="form-label">Image</label>
    <input type="file" id="image-upload" name="imageUpload">
    <input type="button" value="Add Word" class="form-submit admin-button" id="add-word-confirmation" onclick="validateAddWord()">
</form>

{# Add word modal #}
<div id="addWordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">×</button>
                 <h4 class="modal-title">Confirm Add Word</h4>
            </div>
            <div class="modal-body">
                <div id="add-word-modal-english-word" class="form-label modal-margin">English Word:</div>
                <div id="add-word-modal-maori-word" class="form-label modal-margin">Māori Word:</div>
                <div id="add-word-modal-definition" class="form-label modal-margin">Definition:</div>
                <div id="add-word-modal-category" class="form-label modal-margin">Category:</div>
                <div id="add-word-modal-level" class="form-label modal-margin">Level:</div>
                <div id="add-word-modal-image" class="modal-margin admin-image"></div>
            </div>
            <div class="modal-footer add-word-footer">
                <div id="add-word-modal-confirmation">
                    <input type="button" value="Cancel" class="form-submit" id="add-word-modal-confirmation-cancel" onclick="addWordModal.modal('hide')">
                    <input type="button" value="Confirm" class="form-submit" id="add-word-modal-confirmation-submit" onclick="submitAddWordForm()">
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Delete a word</h3>
<form class="delete-word admin-form" id="delete-word-form" method="post" action="/deleteword">
    <label for="englishword-select-category" class="form-label">English Word</label><br>
    <select name="englishword-select-category" id="englishword-select-category" class="admin-dropdown" onchange="handleDeleteEnglishWordChange(this)">
        {% for english_word in english_words %}
            <option value="{{ english_word[1] }}">{{ english_word[0] }}</option>
        {% endfor %}
    </select>
    <div class="field-incomplete"></div>
    <label for="maoriword-select-category" class="form-label">Māori Word</label><br>
    <select name="maoriword-select-category" id="maoriword-select-category" class="admin-dropdown" onchange="handleDeleteMaoriWordChange(this)">
        {% for maori_word in maori_words %}
            {% if maori_word[1] == english_words[0][1] %}
                <option value="{{ maori_word[1] }}" selected>{{ maori_word[0] }}</option>
            {% else %}
                <option value="{{ maori_word[1] }}">{{ maori_word[0] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="button" value="Delete Word" class="form-submit admin-button" id="delete-word-confirmation" onclick="deleteWordModalConfirmation()">
</form>

{# Delete word modal #}
<div id="deleteWordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">×</button>
                 <h4 class="modal-title">Confirm Delete Word</h4>
            </div>
            <div class="modal-body">
                <div id="delete-word-modal-english-word" class="form-label modal-margin">English Word:</div>
                <div id="delete-word-modal-maori-word" class="form-label modal-margin">Māori Word:</div>
                <div id="delete-word-modal-definition" class="form-label modal-margin">Definition:</div>
                <div id="delete-word-modal-category" class="form-label modal-margin">Category:</div>
                <div id="delete-word-modal-level" class="form-label modal-margin">Level:</div>
                <div id="delete-word-modal-image" class="modal-margin admin-image"></div>
            </div>
            <div class="modal-footer add-word-footer">
                <div id="add-word-modal-confirmation">
                    <input type="button" value="Cancel" class="form-submit" id="add-word-modal-confirmation-cancel" onclick="deleteWordModal.modal('hide')">
                    <input type="button" value="Confirm" class="form-submit" id="add-word-modal-confirmation-submit" onclick="submitDeleteWordForm()">
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Add a category</h3>
<form class="add-category admin-form" id="add-category-form" method="post" action="/addcategory">
    <label for="add-category-category" class="form-label">Category Name:</label><br>
    <input type="text" name="add-category-category" id="add-category-category" class="form-element"/>
    <div class="field-incomplete" id="add-category-category-incomplete"></div>
    <input type="button" value="Add Category" class="form-submit admin-button" id="add-category-confirmation" onclick="validateAddCategoryForm()">
</form>

{# Add category modal #}
<div id="addCategoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">×</button>
                 <h4 class="modal-title">Confirm Add Category</h4>
            </div>
            <div class="modal-body">
                <div id="add-category-modal-category-name" class="form-label modal-margin">Category Name:</div>
            </div>
            <div class="modal-footer add-word-footer">
                <div id="add-word-modal-confirmation">
                    <input type="button" value="Cancel" class="form-submit" id="add-word-modal-confirmation-cancel" onclick="addCategoryModal.modal('hide')">
                    <input type="button" value="Confirm" class="form-submit" id="add-word-modal-confirmation-submit" onclick="addCategory()">
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Delete a category</h3>
<form class="delete-category admin-form" id="delete-category-form" method="post" action="">
    <label for="category-name-delete-category" class="form-label">Category Name</label><br>
    <select name="category-name-delete-category" id="category-name-delete-category" class="admin-dropdown">
        {% for i in range(category_ids|length) %}
            <option value="{{ category_ids[i] }}">{{ category_names[i] }}</option>
        {% endfor %}
    </select>
    <input type="button" value="Delete Category" class="form-submit admin-button" id="delete-category-confirmation" onclick="validateDeleteCategory()">
</form>

{# Delete category modal #}
<div id="deleteCategoryModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">×</button>
                 <h4 class="modal-title">Confirm Add Delete</h4>
            </div>
            <div class="modal-body">
                <div id="delete-category-modal-category-name" class="form-label modal-margin">Category Name:</div>
            </div>
            <div class="modal-footer add-word-footer"></div>
        </div>
    </div>
</div>
{% endblock %}