<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    <div class="header">
        <div class="navbar-brand">Māori Dictionary</div>
        <div class="navbar-links">
            <a href="/">home</a>
            {% if logged_in %}
            <a href="/logout">logout</a>
            <a href="/admin">admin</a>
            {% else %}
            <a data-target="#loginModal" role="button" data-toggle="modal">login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="{% block container %}{% endblock %}">
    <header>
        <h1>{% block header %}{% endblock %}</h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>


 <div id="loginModal" class="modal fade">
      <div class="modal-dialog">
           <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">×</button>
                     <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form class="loginform" method="POST" onsubmit="return validateForm()">
                        <div class="form-group-email">
                            <div class="form-label">Email or Username:</div>
                            <input type="text" name="username" id="username" class="form-element"/>
                        </div>
                        <div class="form-group-password">
                            <div class="form-label">Password:</div>
                            <input type="password" name="password" id="password" class="form-element">
                        </div>
                        <div class="form-group-submit">
                            <div class="form-submit"><input type="submit" value="Login" id="login-submit"></div>
                        </div>
                        <div class="forgot-password">
                            <p><a href="/forgotpassword">Forgot Password?</a></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>Don't have an account yet? <a data-target="#signUpModal" role="button" data-toggle="modal" id="closeLoginModal">Sign Up</a>.</p>
                </div>
           </div>
      </div>
 </div>

<div id="signUpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">×</button>
                     <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var emailUsernameInput = document.getElementById("username").value
        var passwordInput = document.getElementById("password").value
        if (emailUsernameInput.trim() === "" || passwordInput.trim() === "") {
            return false;
        }
    }
    $('#closeLoginModal').click(function() {
        $('#loginModal').modal('hide');
    });
</script>
</html>