{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | categories
{% endblock %}

{% block container %}
    categories
{% endblock %}

{% block header %}
    Categories
{% endblock %}

{% block main %}
    <div id="wrapper">
        <div id="categorylist">
            <table>
                {# Display all of the categories #}
                {% if current_category > 0 %}
                    <tr>
                        <td><a href="/categories/all-categories/1"><button class="category-button" id="category-button-header">All Categories</button></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="/categories/all-categories/1"><button class="category-button active-category" id="category-button-header">All Categories</button></a></td>
                    </tr>
                {% endif %}
                {% for i in range(category_list|length) %}
                    {% if i + 1 != current_category %}
                        {% if i < (category_list|length - 1) %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}/1"><button class="category-button category-button-body">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}/1"><button class="category-button category-button-body" id="category-button-footer">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% endif %}
                    {% else %}
                        {% if i < (category_list|length - 1) %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}/1"><button class="category-button category-button-body active-category">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}/1"><button class="category-button category-button-body active-category" id="category-button-footer">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
            <button type="button" id="level-filters-collapsible">
                <div id="level-filters">Level Filters</div>
                <div id="expand-level-filters">+</div>
            </button>
            <div class="content">
                <table>
                    <tr>
                        <td class="level-filter-checkbox level-filter-checkbox-header">
                            <button class="button-level-filter">
                                {% if all_levels_selected %}
                                    <input type="checkbox" class="level-filter-check" id="level-filter-all" checked>
                                {% else %}
                                    <input type="checkbox" class="level-filter-check" id="level-filter-all">
                                {% endif %}
                                <span class="level-checkbox"> All Levels</span>
                            </button>
                        </td>
                    </tr>
                    {% for level in levels %}
                        <tr>
                            <td class="level-filter-checkbox">
                                <button class="button-level-filter">
                                    {% if level in selected_levels and not all_levels_selected %}
                                        <input type="checkbox" class="level-filter-check" id="level-filter-{{ level }}" checked>
                                    {% else %}
                                        <input type="checkbox" class="level-filter-check" id="level-filter-{{ level }}">
                                    {% endif %}
                                    <span class="level-checkbox"> Level: {{ level }}</span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="level-filter-checkbox">
                            <button id="button-level-submit" type="submit" data-category="{{ category_name }}">
                                <span class="level-checkbox">Apply Filter</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="category-main">
            <div id="category-divider">
                <div class="category-divider-elements">
                    <div id="category-search-text">SEARCH</div>
                    <div class="category-search">
                        <form id="category-search-form" method="post" action="/categories/{{ category_name }}/{{ current_page }}">
                            <input type="hidden" name="previous-search" value="{{ current_search }}">
                            <input name="category-search-bar" id="category-search-bar" type="text" placeholder="Search in English or Māori..." value="{{ current_search }}">
                            <button id="category-search-submit" type="submit"><img src="/static/images/search.png"></button>
                        </form>
                    </div>
                    <div id="category-language-title">LANGUAGE</div>
                    <div id="category-language-background" data-selected-language="{{ selected_language }}">{{ selected_language }}</div> {# edit the data here? #}
                    <button id="switch-language">⇆</button>  {# data is for creating custom attributes #}
                    <div class="category-header-divider"></div>
                    <div id="category-sort-title">SORT BY</div>
                    {# Allow the user to sort by category if this is in the 'All Categories' #}
                    <select id="sorting-methods" onchange="handleSortChange()" data-sorting-method="{{ sorting_method }}">
                        <option value="A-Z">A-Z</option>
                        <option value="LEVEL">LEVEL</option>
                    </select>
                    <div class="category-header-divider"></div>
                    <div id="category-words-per-page">WORDS PER PAGE</div>
                    <select id="words-per-page" onchange="handleWordsPerPage()" data-words-per-page="{{ words_per_page }}" data-category="{{ category_name }}" data-old-page="{{ display_page }}" data-previous-value="{{ words_per_page }}">
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
            {# Make this dependent on the page #}
            <div id="word-display-tracker">Displaying {{ minimum_value }} - {{ maximum_value }} of {{ total_words }} {{ 'words' if maximum_value != 1 else 'word' }}</div>
            <div id="word-table">
                <table>
                    {% for i in range(0, word_list[current_page]|length, 2) %}
                        <tr id="word-table-main">
                            {% set column_range = i + 2 %}
                            {% if word_list[current_page]|length == i + 1 %}
                                {% set column_range = i + 1 %}
                            {% endif %}
                            {% for j in range(i, column_range) %}
                            <td class="word-table-column">
                                <div class="container-test">
                                    <div id="word-testing">
                                        <div class="text">
                                            <div id="word-table-word">
                                                {% if selected_language == "English-Māori" %}
                                                    <div id="word-table-title">
                                                        <a href="/translate/{{ word_list[current_page][j][1] }}/{{ word_list[current_page][j][5] }}">{{ word_list[current_page][j][1] }}</a>
                                                    </div>
                                                    <div id="word-table-translation">{{ word_list[current_page][j][0] }}</div>
                                                {% else %}
                                                    <div id="word-table-title">
                                                        <a href="/translate/{{ word_list[current_page][j][0] }}/{{ word_list[current_page][j][5] }}">{{ word_list[current_page][j][0] }}</a>
                                                    </div>
                                                    <div id="word-table-translation">{{ word_list[current_page][j][1] }}</div>
                                                {% endif %}
                                            </div>
                                            <div id="word-table-definition">{{ word_list[current_page][j][2] }}</div>
                                        </div>
                                    <div id="word-table-level">Level: {{ word_list[current_page][j][3] }}</div>
                                    </div>
                                  <div class="word-table-image-container">
                                      {% if word_list[current_page][j][4] is none %}
                                          <img class="word-table-image" src="/static/images/noimage.png">
                                      {% else %}
                                            <img class="word-table-image" src="/static/images/{{ word_list[current_page][j][4] }}">
                                      {% endif %}
                                  </div>
                                </div>
                            </td>
                                {% if j % 2 == 0 %}
                                    <td id="word-table-space-column"></td>
                                {% endif %}
                            {% endfor %}
                            {% if word_list[current_page]|length % 2 != 0 %}
                                <td id="word-table-placeholder"></td>
                            {% endif %}
                        </tr>
                        <tr id="word-table-space"></tr>
                    {% endfor %}
                </table>
            </div>
            {% if page_count > 1 %}
                <div id="category-page">
                     {# use hidden if there isnt a prev page #}
                     {# add the 'active' class #}
                     <ul class="pagination pagination-lg">
                         {% if display_page > 1 %}
                             {% if current_search|length > 0 %}
                                 <li class="page-item"> {# previous page #}
                                     <a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ display_page - 1 }}"><</a>
                                 </li>
                                 <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/1">1</a></li> {# first page #}
                                 {% if display_page > 2 %}
                                     <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ display_page - 1 }}">{{ display_page - 1 }}</a></li> {# previous page #}
                                 {% endif %}
                             {% else %}
                                 <li class="page-item"> {# previous page #}
                                     <a class="page-link" href="/categories/{{ category_name }}/{{ display_page - 1 }}"><</a>
                                 </li>
                                 <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/1">1</a></li> {# first page #}
                                 {% if display_page > 2 %}
                                     <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/{{ display_page - 1 }}">{{ display_page - 1 }}</a></li> {# previous page #}
                                 {% endif %}
                             {% endif %}
                         {% else %}
                             <li class="page-item"><a class="page-link" href=""><</a></li>
                         {% endif %}
                        {% if current_search|length > 0 %}
                             <li class="page-item"><a class="page-link active-page" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ display_page }}">{{ display_page }}</a></li>  {# active page #}
                            {# next page #}
                            {% if display_page < page_count %} {# not last page #}
                                <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ display_page + 1 }}">{{ display_page + 1 }}</a></li> {# next page #}
                                {% if display_page + 1 < page_count %} {# not second to last page #}
                                    <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ page_count }}">{{ page_count }}</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/search/{{ current_search }}/{{ display_page + 1 }}">></a></li> {# next page #}
                            {% else %}
                                <li class="page-item"><a class="page-link" href="">></a></li>
                            {% endif %}
                        {% else %}
                             <li class="page-item"><a class="page-link active-page" href="/categories/{{ category_name }}/{{ display_page }}">{{ display_page }}</a></li>  {# active page #}
                            {# next page #}
                            {% if display_page < page_count %} {# not last page #}
                                <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/{{ display_page + 1 }}">{{ display_page + 1 }}</a></li> {# next page #}
                                {% if display_page + 1 < page_count %} {# not second to last page #}
                                    <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/{{ page_count }}">{{ page_count }}</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link" href="/categories/{{ category_name }}/{{ display_page + 1 }}">></a></li> {# next page #}
                            {% else %}
                                <li class="page-item"><a class="page-link" href="">></a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="bottom-category"></div>
{% endblock %}