{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | categories
{% endblock %}

{% block container %}
    categories
{% endblock %}

{% block header %}
    Categories
{% endblock %}

{% block main %}
    <div id="categorylist">
        <table>
            {% for i in range(category_list|length) %}
                {% if i == 0 %}
                    <tr>
                        <td><button class="category-button" id="category-button-header">{{ category_list[i] }}</button></td>
                    </tr>
                {% elif i < (category_list|length - 1) %}
                    <tr>
                        <td><button class="category-button category-button-body">{{ category_list[i] }}</button></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><button class="category-button category-button-body" id="category-button-footer">{{ category_list[i] }}</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

<script>
    $(document).ready(function(){
        $('.category-button').click(function(){
            alert("CLICKED!");
        });
    });
</script>