{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | categories
{% endblock %}

{% block container %}
    categories
{% endblock %}

{% block header %}
    Categories
{% endblock %}

{% block main %}
    <div id="wrapper">
        <div id="categorylist">
            <table>
                {% if current_category > 0 %}
                    <tr>
                        <td><a href="/categories/all-categories"><button class="category-button" id="category-button-header">All Categories</button></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="/categories/all-categories"><button class="category-button active-category" id="category-button-header">All Categories</button></a></td>
                    </tr>
                {% endif %}
                {% for i in range(category_list|length) %}
                    {% if i + 1 != current_category %}
                        {% if i < (category_list|length - 1) %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}"><button class="category-button category-button-body">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}"><button class="category-button category-button-body" id="category-button-footer">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% endif %}
                    {% else %}
                        {% if i < (category_list|length - 1) %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}"><button class="category-button category-button-body active-category">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="/categories/{{ sanitised_category_list[i] }}"><button class="category-button category-button-body active-category" id="category-button-footer">{{ category_list[i] }}</button></a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div id="category-divider">
            <div class="category-divider-elements">
                <div id="category-search-text">SEARCH</div>
                <div class="category-search">
                    <input id="category-search-bar" type="text" placeholder="Search in English or Māori...">
                    <button id="category-search-submit" type="submit"><img src="/static/images/search.png"></button>
                </div>
                <div id="category-language-title">LANGUAGE</div>
                <div id="category-language-background" data-selected-language="{{ selected_language }}">{{ selected_language }}</div> {# edit the data here? #}
                <button id="switch-language">⇆</button>  {# data is for creating custom attributes #}
                <div class="category-header-divider"></div>
                <div id="category-sort-title">SORT BY</div>
                {# Allow the user to sort by category if this is in the 'All Categories' #}
                <select id="sorting-methods" onchange="handleSortChange()" data-sorting-method="{{ sorting_method }}">
                    <option value="A-Z">A-Z</option>
                    <option value="LEVEL">LEVEL</option>
                </select>
                <div class="category-header-divider"></div>
                <div id="category-words-per-page">WORDS PER PAGE</div>
                <select id="words-per-page" onchange="handleWordsPerPage()" data-words-per-page="{{ words_per_page }}">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="All">All</option>
                </select>
            </div>
        </div>
    </div>
    <div id="bottom-category"></div>
{% endblock %}