<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maori Dictionary</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1 class="logo">Maori Dictionary</h1>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <button type="button">Search</button>
        </div>
    </header>

    <div class="main-content">
        <h1>Maori dictionary</h1>
        <p>Kia ora</p>
        <div class="centre-search">
            <input type="text" placeholder="Search...">
            <button type="button">Search</button>
        </div>
    </div>

    <!--<footer class="footer">
        <p>&copy; 2022 My Website. All Rights Reserved.</p>
    </footer>-->
</body>
</html>