{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | home
{% endblock %}

{% block container %}
    homecontainer
{% endblock %}

{% block header %}
{% endblock %}

{% block pageheading %}
    <div class="main-content">
        <div class="title">
            <img src="/static/images/Kia_Ora_Title.png">
        </div>
            <form action="/contact" method="POST" class="search-bar" onsubmit="return validateForm()">
                <input type="text" placeholder="Search in English or Māori" name="text" id="text">
                <button type="submit"><img src="/static/images/search.png"></button>
            </form>

            <script>
            function validateForm() {
                var input = document.getElementById("text"); // get the text element
                if (input.value.trim() === "") { // remove the whitespace to check if the input is nothing
                    return false; // returning false will stop the form being posted
                }
            }
            </script>
    </div>
{% endblock %}