{% extends 'base.html' %}

{% block title %}
    Māori Dictionary | home
{% endblock %}

{% block container %}
    homecontainer
{% endblock %}

{% block header %}
{% endblock %}

{% block pageheading %}
    <div class="main-content">
        <div class="title">
            <img src="/static/images/Kia_Ora_Title.png">
        </div>
        <form action="/contact" method="POST" class="search-bar">
            <input type="text" placeholder="Search..." name="text" id="text">
            <button type="submit"><img src="/static/images/search.png"></button>
        </form>
    </div>
{% endblock %}